{{! header }}
<nav
  class="md:flex md:justify-between md:items-center w-full py-4 px-10"
  style="background-color: #395144;"
>
  <div class="">
    <a href="/">
      <img class="h-10" src="/images/placeholder.png" alt="Logo" />
    </a>
  </div>

  <a href="/" class="flex-grow text-gray-100 ml-10">
    <h1 class="text-2xl uppercase flex-grow"
    style="color: #F0EBCE">Family Recipes</h1>
  </a>

  <div class="flex items-center">

    <a
      href="/"
      class="border-b-2 border-transparent text-medium uppercase mx-7 pt-1"
      style="color: #F0EBCE"
    >Overview</a>
    <a
      href="/recipe/add"
      class="border-b-2 border-transparent text-medium text-gray-100 uppercase mx-7 pt-1"
      style="color: #F0EBCE"
    >Add Recipe</a>
  </div>
</nav>

{{! main }}
<main>
  {{! Page title section }}
  <div
    class="flex flex-col items-center justify-around"
    style=" background-image: url(/images/background.jpg); background-repeat: no-repeat; background-size:cover; min-height: 40vh; background-position:0 -20rem  ;"
  >

    <h2
      class="text-5xl font-bold uppercase text-gray-100 p-5 mt-20"
      style="letter-spacing:0.9rem; color: #F0EBCE; "
    >Overview</h2>

    {{! search bar }}
    <form method="GET" action="#" class="w-2/5">
      <input
        type="text"
        name="search"
        placeholder="Search..."
        value=""
        class="block w-full mb-20 py-2 pl-3 text-medium text-gray-700 border border-gray-100 rounded-2xl bg-gray-100 focus:ring-blue-500 focus:border-gray-700"
      />
    </form>

  </div>

  {{! recipe cards }}
  <div class="grid sm:grid-cols-1 md:grid-cols-6 lg:grid-cols-6 gap-10 w-4/5 mx-auto mt-10">

    {{#each recipes}}


      <div
        class="flex col-span-3  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <div style="background-image:url(images/food.jpg); background-size: cover; height:cover; width:30%">
            <a href="/recipe/{{this._id}}">
                
            </a>
        </div>
        
        
        <div class="p-5 flex-grow"
        style="max-width:70%; ">
          <a href="/recipe/{{this._id}}">
            <h5
              class="text-xl font-bold wrap tracking-tight text-gray-900 dark:text-white"
              style="color: #395144; "
            >{{this.title}}</h5>
          </a>

            <div class="flex justify-between my-3">
                    <div  class="flex flex-col items-center justify-center">
                        <img src="images/icon_user.png" alt="" width="15rem" class="pb-1"/>
                        <p
                        class="text-center  text-xs text-gray-500 dark:text-gray-400"
                        >{{this.author.name}}</p>
                    </div>
                    <div  class="flex flex-col items-center justify-center">
                        <img src="images/icon_clock.png" alt=""  width="15rem" class="pb-1"/>
                        <p
                        class="text-center  text-xs text-gray-500 dark:text-gray-400"
                        >{{this.prepTimeInMinutes}} min.</p>
                    </div>
                    <div  class="flex flex-col items-center justify-center">
                        <img src="images/icon_speedometer.png" alt=""  width="15rem" class="pb-1"/>
                        <p
                        class=" text-center  text-xs text-gray-500 dark:text-gray-400"
                        >{{this.difficulty}}</p>
                    </div>
                
            </div>

          <p
            class="mb-3 font-normal text-gray-700 dark:text-gray-400"
            style="max-width: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;color:#AA8B56"
          >{{this.summary}}</p>
          
          <div class="flex justify-end">
            <a
              href="/recipe/{{this._id}}"
              class="btn-default inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >

              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </div>
          
        </div>
      </div>

    {{/each}}

  </div>
</main>

{{! scripts }}
<script>
  //underline the links when hovered over const links =
  document.querySelectorAll('a'); links.forEach(link => {
  link.addEventListener('mouseover', () => {
  link.classList.replace('border-transparent', 'border-gray-100'); });
  link.addEventListener('mouseout', () => {
  link.classList.replace('border-gray-100', 'border-transparent'); }); });

</script>